.invisible {
    display: none;
}

.compare-page .cell,
.compare-page .sum-cell,
.compare-page .button-cell {
    float: left;
    width: 18%;
    text-align: center;
}

.check {
    float: left;
}

.no-width {
    width: auto;
}

.matrix_val,
.matrix_val_weight {
    width: 30px;
}

.aldi,
.auchan,
.cba_prima,
.g-roby {
  background: red;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    padding: 2px 4px;
    margin: 4px;
}

.aldi {
    background: yellowgreen;
}

.auchan {
    background: dodgerblue;
}

.cba_prima {
    background: coral;
}

.g-roby {
    background: mediumpurple;
}


#header .cell {
    /*border: 4px solid #888;*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.addRow {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    backgroud: red;
    font-size: 26px;
    text-align-last:center;
    text-align: center;
    border: 4px orange solid;
}

.deleteRow {
    background: #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    padding: 2px 4px;
    margin: 4px;
    cursor: pointer;
    float: left;
}

.cart-row {
    border: 1px solid #ccc;
    padding: 10px;
}

.starter_cell {
    width: 200px;
}

.starter_cell .plus-minus {
    float: left;
}

.starter_cell label {
    width: 100px;
    float:left;
}

#corner {
    width: 200px;
}

#main {
    width: 100% !important;
}

.add-to-cart {
    cursor: pointer;
}

/* todo: change to drupal_mail drupal_mail */

.form-item-fld-from-addr,
.form-item-fld-from-name,
.form-item-fld-subject,
.form-type-item,
.form-item-txt-message {
  display: none;
}



.summary-row {
    /*position: absolute;*/
    background: wheat;
    width: 100%;
    font-size: 2em;
}

#discount-cart .cell {
    float: left;
}

.shop-header, .delete-shop {
    float: left;
    font-size: 2em;
}

.table-row {
    overflow: hidden;
}

.element-remove {
    display: none;
}




