.field-item {
    background: red;

}

table {
    width: 100%;
    padding: 20px;
}

td {
    text-align: right;
}
tr {
  border-bottom: 1px solid #ccc;
  height: 40px;
}

tr:last-item {
    border-bottom: 1px dotted #ccc;
}

td.content {
  width: 40% !important;
    text-align: left;
}


td.markup {
    width: 5% !important;
}

td.price, td.weight, td.amount {
    width: 15% !important;
}


.totals-row {
    margin-left: 53%;
}

.cart-sum-weight {
    width: 100px;
    text-align: right;
    margin-left: 27%;
}

.cart-sum-price {
    width: 100px;
    text-align: right;
    margin-left: 27%;
}

.measurement {
    width: 40px;
    text-align: right;
    display: inline-block;
}

