.field-item {


}

table {
    width: 100%;
    padding: 20px;
}

td {
    text-align: right !important;
    padding: 10px !important;
}

.shop-header {
    padding: 10px !important;
}

tr td {
  border-bottom: 1px solid #ccc;
  height: 0px;
}

tr:last-child td {
    border-bottom: 1px dotted #ccc;
}

td.content {
  width: 40% !important;
    text-align: left;
}


td.markup, td.measurement {
    width: 5% !important;
}

td.price, td.weight, td.amount, td.cart-sum-weight, td.cart-sum-price {
    width: 15% !important;
}







header h2 {
    display: none;
}

.print-logo {
    padding: 10px;
    text-align: center;
}



.print-logo img {
    margin: 0 auto;
    width: 200px;

}

td.totals {
    width: 60%;
}